BeautifulSoup==3.2.1
Django==1.4.2
GnuPGInterface==0.3.2
South==0.7.5
dj-database-url==0.2.1
django-blog-zinnia==0.11.dev
django-crispy-forms==1.2.0
django-gmapi==1.0.1
django-google-maps==0.2.1
django-mptt==0.5.2
-e git+https://github.com/csinchok/django-singly.git@bb19a984f5254cb61661daf68b90e1efeeed6aa7#egg=django_singly-dev
django-tagging==0.3.1
django-xmlrpc==0.1.4
duplicity==0.6.15
elementtree==1.2.7-20070827-preview
google-api-python-client==1.0
httplib2==0.7.7
jockey==0.9.4
keyring==0.6.2
launchpadlib==1.9.8
lazr.restfulclient==0.11.2
lazr.uri==1.0.2
louis==2.3.0
mercurial==1.9.1
mock==1.0.1
oauth==1.0.1
onboard==0.95.1
oneconf==0.2.6.7
papyon==0.5.5
pexpect==2.3
piston-mini-client==0.6
protobuf==2.4.0a
psycopg2==2.4.5
pyOpenSSL==0.12
pycrypto==2.3
pycups==1.9.58
pycurl==7.19.0
pyinotify==0.9.1
pyparsing==1.5.6
pyserial==2.5
pysmbc==1.0.10
python-apt==0.8.0ubuntu9
python-dateutil==1.4.1
python-debian==0.1.20ubuntu2
python-gflags==2.0
python-virtkey==0.60.0
pyxdg==0.19
requests==0.14.2
sessioninstaller==0.0.0
simplejson==2.1.6
system-service==0.1.6
ufw==0.30.1-2ubuntu1
unattended-upgrades==0.1
usb-creator==0.2.23
virtualenv==1.6.4
wadllib==1.2.0
wsgiref==0.1.2
xdiagnose==1.1
xkit==0.0.0
zope.interface==3.6.1
