BeautifulSoup==3.2.1
Django==1.4.2
South==0.7.5
dj-database-url==0.2.1
django-blog-zinnia==0.11.dev
django-crispy-forms==1.2.0
django-gmapi==1.0.1
django-google-maps==0.2.1
django-mptt==0.5.2
-e git+https://github.com/csinchok/django-singly.git@bb19a984f5254cb61661daf68b90e1efeeed6aa7#egg=django_singly-dev
django-tagging==0.3.1
django-xmlrpc==0.1.4
google-api-python-client==1.0
oauth==1.0.1
psycopg2==2.4.5
pyOpenSSL==0.12
pycrypto==2.3
pycups==1.9.58
pycurl==7.19.0
pyinotify==0.9.1
pyparsing==1.5.6
pyserial==2.5
pysmbc==1.0.10
python-apt==0.8.0ubuntu9
python-dateutil==1.4.1
python-debian==0.1.20ubuntu2
python-gflags==2.0
python-virtkey==0.60.0
pyxdg==0.19
simplejson==2.1.6
virtualenv==1.6.4
wsgiref==0.1.2

